.item {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr auto;
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  gap: 1rem;
  align-items: start;
}

.item p {
  margin: 0;
  word-break: break-word;
}

.item strong {
  justify-self: center;
}
